# Section debug
[debug]
backtrace_level=1                   # Backtrace level, can be 0, 1 or 2. Only level 1 and 2 are valid, others will be perceived as 0, can be overridden by BACKTRACE_LEVEL

[general]
attributes=%PWD%/attr1              # This is attribute dictionary 1
attributes=%PWD%/attr2              # This is attribute dictionary 2
inodes=%PWD%/inode_dir1             # This is inode area 1
inodes=%PWD%/inode_dir2             # This is inode area 2
data=%PWD%/data                     # This is data area 1
data=%PWD%/data2                    # This is data area 2
root=abcdef1234567890               # This is the root inode name
